[user]
	email = jahir.fiquitiva@gmail.com
	name = Jahir Fiquitiva			
[core]
	editor = nano
	ignorecase = false
	excludesFile = ~/.gitignore
[credential]
	helper = osxkeychain
[color]
        ui = true
        status = auto
        branch = auto
[format]
        pretty = oneline
[init]
        defaultbranch = main
[pull]
        rebase = false
[diff]
        external = difft
        tool = difftastic
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
# Use a pager for large output, just like other git commands.
[pager]
        difftool = true
[http]
        postBuffer = 157286400
